@import "tailwindcss";

:root {
  --background: #0f172a;
  --primary: #6366f1;
  --accent: #22c55e;
  --text: #e2e8f0;
}

body {
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}